/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.pagination .page-item.active .page-link{
    background-color: #343a40!important;
    border-color: #343a40!important;
    color: white !important;
}

.pagination .page-item .page-link{
    color: #343a40!important;
}
